@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
// @import "last-year";

@mixin section-header {
	text-align: center;
	font-weight: bold;
	color: $blue-light;
	text-transform: uppercase;
	margin-top: 2rem;
	margin-bottom: 2rem;
	@media screen and (max-width: 960px) {
		font-size: 1rem;
	}
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

$blue-dark: #293e50;
$blue-light: #2176ae;
$green: #00967e;

// Typography
	
	* {
		font-family: "Fira Sans", sans-serif;
	}

// Header

	header {
		background-image: url("/img/bg.png");
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 125%;
		padding: 3rem 0 9em 0;
		img {
			height: 3em;
			display: block;
			margin: 0 auto;
		}
		h1,
		h2 {
			color: white;
			text-align: center;
			text-transform: uppercase;
		}
		h2 {
			font-weight: normal;
		}
		p {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		a {
			font-weight: bold;
			padding: 1em;
			border: 1px solid white;
			border-radius: 5px;
			color: white;
			text-transform: uppercase;
			text-decoration: none;
		}
	}

// Time bar
	
	h2.time {
		text-align: center;
		padding: 1em;
		text-transform: uppercase;
		color: $blue-light;
		font-size: 2em;
	}

// Stream

	.stream {
		@include outer-container;
		.video {
			@include span-columns(8);
			iframe {
				@include span-columns(8 of 8);
				height: 350px;
			}
		}
		.sidebar {
			@include span-columns(4);
			@include omega;
			iframe {
				height: 350px !important;
			}
		}
		.tweet-intent {
			@extend h2.time;
			@include fill-parent;
			margin-bottom: 0;
			overflow: auto;
			a {
				color: $blue-light;
				text-decoration: none;
				padding: 1em;
			}
		}
	}

// Register 

	.register {
		background: $blue-light;
		padding: 2em;
		h2 {
			color: white;
			display: block;
			text-align: center;
			padding-bottom: 1em;
			text-transform: uppercase;
			margin: 0;
		}
		form {
			@include outer-container;
			input {
				@include span-columns(2.4);
				padding: .5em;
				border: 2px solid transparent;
				outline: 0;
				&:focus,
				&:active {
					outline: 0;
					border-color: $blue-light;
				}
				&[type="submit"] {
					background: white;
					color: $blue-dark;
				}
			}
		}
	}

// About

	.about {
		@include outer-container;
		margin-bottom: 2rem;
		h2 {
			@include section-header;
		}
		p {
			text-align: center;
			font-family: Calibri, sans-serif;
			line-height: 2;
			margin-bottom: 0;
		}
	}

// Speakers

	.speakers {
		@include outer-container;
		> h2 {
			@include section-header;
		}
		ul {
			padding-left: 0;
			li {
				@include span-columns(3 of 12);
				@include omega (4n);
				margin-bottom: .5rem;
				img {
					display: block;
					margin: 0 auto;
					width: 100%;
				}
				.info {
					text-align: center;
					h2,
					h3 {
						font-weight: normal;
					}
					h2 {
						font-size: 1.25rem;
						margin: 1rem 0 0.5rem 0;
					}
					h3 {
						font-size: .75em;
						margin: 0 0 1rem 0;
					}
				}
			}
		}
	}

// Whitepaper

	.whitepaper {
		a {
			display: block;
			background: $blue-dark;
			text-align: center;
			color: white;
			text-decoration: none;
			font-size: 1em;
			padding: 1em;
			span {
				display: block;
				@include outer-container;
			}
		}
	}

// Talks

	.talks {
		@include outer-container;
		h2 {
			@include section-header;
		}
		ul {
			@include span-columns(7.5 of 12);
			@include shift(2.75 of 12);
			padding-left: 0;
			li {
				@include span-columns(8 of 8);
				list-style-type: none;
				margin-bottom: .5rem;
				.time {
					@include span-columns(1 of 8);
					text-align: right;
					font-size: 1.25em;
					font-weight: bold;
					color: $blue-light;
					margin-top: .5rem;
				}
				.information {
					@include span-columns(7 of 8);
					@include omega;
					.name {
						font-weight: bold;
					}
					.speaker {

					}
				}
			}
		}
	}

// Rebel Uncut
	
	.ru {
		display: block;
		color: #754698;
		text-decoration: none;
		margin-bottom: 2rem;
		h3 {
			font-size: .8rem;
			text-align: center;
		}
		img {
			display: block;
			margin: 0 auto;
			height: 4rem;
		}
	}

@import "responsive";





























